/*
 * Fonts.
 */

$aldrich-font: 'Aldrich';

$family-sans-serif: $aldrich-font;
$body-size: 17px;

/*
 * Colors.
 */

$primary: hsl(245, 60%, 53%);
$success: hsl(162, 100%, 41%);
$danger: hsl(355, 94%, 60%);
$link: $primary;
